@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
body {
    min-height: 667px;
    margin: 0;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("../images/bg-pattern-bottom.svg"), url("../images/bg-pattern-top.svg");
    background-position: calc(50% + 450px) calc(50% + 500px), calc(50% - 500px) calc(50% - 400px);
    background-repeat: no-repeat;
    background-size: 950px, 950px;
}

p {
    margin: 0;
    padding: 0;
}

#card {
    background-image: url("../images/bg-pattern-card.svg");
    background-repeat: repeat-x;
    padding-top: 90px;
    justify-content: center;
    width: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

#profile-picture {
    border-radius: 50px;
    border: solid white 4px;
}

.grey {
    color: hsl(0, 0%, 59%)
}

#title {
    margin: 30px 0 10px 0;
}

span {
    margin-left: 5px;
}

.informations {
    font-size: 13px;
}

footer {
    border-top: solid hsl(0, 0%, 95%) 1px;
    padding: 30px 0 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
    font-weight: 700;
    margin: 0;
}

.type {
    margin: 3px 0 0 0;
    font-size: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}